.tableSection {
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
}

.tableSection > table {
	width: 80vw;
}

.filter {
	display: flex;
	flex-flow: row wrap;
}

.filter > * {
	margin: 10px;
	padding: 5px;
}

.th {
	text-align: left;
	color: #6e44ff;
}

.tbody > tr > td {
	padding: 10px 0px;
	padding: 10px 5px 10px 0;
}

.tbody > tr > td:first-child {
	text-wrap: wrap;
}

@media only screen and (min-width: 769px) {
	.tableSection > table {
		padding: 20px;
		border: solid 3px #6e44ff;
		border-radius: 10px;
		margin-top: 30px;
	}
}
